<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
    <sources>
      <source name="WNSRecipe" switchValue="Off">
        <listeners>
          <!--                                     
            Uncomment one or more entries in this section or add your own custom trace listeners to enable trace logs from the WNS Recipe. Note 
            that some trace listeners in this section may require additional configuration steps such as configuring output file location, setting 
            file permissions, creating event sources, etc. For additional information on trace listener configuration, please refer to 
            http://msdn.microsoft.com/en-us/library/ff664708.aspx and http://msdn.microsoft.com/en-us/library/4y5y10s7.aspx.
          -->
          <!-- Windows Azure Log -->
          <!--<add name="Azure"    type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
          <!-- Windows Event Log -->
          <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="WNS Recipe Notifications"/>-->
          <!-- Delimited text file -->
          <!--<add name="LogFile"  type="System.Diagnostics.DelimitedListTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="[TRACE FILE NAME (e.g. c:\temp\sampleDelimitedFile.txt)]" />-->
          <!-- XML file -->
          <!--<add name="XmlFile"  type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\temp\sampleLogFile.xml" />-->
          <!-- Console -->
          <!--<add name="Console"  type="System.Diagnostics.ConsoleTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" traceOutputOptions="None"/>-->
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="Error" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Helpers" />
      </namespaces>
    </pages>
    <machineKey decryption="AES" decryptionKey="0CA3EFAF0F7A5E7A62681C0BF656EE0ECE31ACEE3E1023BA3FAD20EA5F199DE8" validation="SHA1" validationKey="865F235AEDB0F0E6559D219591E37B3DBA985FB49DE62168764FF0DCE537184F0535D5D9AD66DEDC97DC1ABFF7FA540B4DFD82E5BB196B95D15FF81F75AD5328" />
    <membership defaultProvider="TableStorageMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear />
        <add name="TableStorageMembershipProvider" type="Microsoft.WindowsAzure.Samples.Storage.Providers.TableStorageMembershipProvider" description="Membership provider using table storage" applicationName="WindowsPhoneCloud" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="true" passwordFormat="Hashed" />
      </providers>
    </membership>
    <httpModules>
      <add name="AspNet.SuppressFormsRedirect" type="System.Web.SuppressFormsAuthenticationRedirectModule, AspNet.SuppressFormsRedirect" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AspNet.SuppressFormsRedirect" type="System.Web.SuppressFormsAuthenticationRedirectModule, AspNet.SuppressFormsRedirect" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <remove fileExtension=".cer" />
      <mimeMap fileExtension=".cer" mimeType="application/x-x509-ca-cert" />
    </staticContent>
    <handlers>
      <remove name="SecurityCertificate" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.StorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <location path="WNSNotificationService">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
  </location>
</configuration>